.toggle {
  position: relative;
  height: 24px;
  width: 50px;
  border-radius: 17px;
  border: 0;
  background-color: var(--color-text);
  cursor: pointer;
}

.toggleDot {
  height: 20px;
  width: 20px;
  position: absolute;
  background-color: var(--color-background);
  border-radius: 50%;
  top: 2px;
  left: 2px;
  pointer-events: none;
}
