.container {
  display: flex;
  flex-direction: column;

  @media (--not-small) {
    flex-direction: row;
    margin: 0 auto;
  }
}

.heading {
  width: 50%;
  font-size: 80px;
  line-height: 90px;

  @media (--not-small) {
    text-align: right;
    margin-right: var(--spacing-large);
  }
}
