.container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: var(--spacing-extra-large) var(--spacing-medium);
  color: var(--color-text);
  color: var(--color-text);

  @media (--small) {
    padding: var(--spacing-medium);
  }
}

.inner {
  max-width: var(--max-width-page);
  margin: 0 auto;
}

.content {
  display: flex;
  justify-content: flex-end;

  & svg {
    width: 35px;
    height: 35px;
  }
}
