.container {
  padding: var(--spacing-extra-large) var(--spacing-medium);
  background-color: var(--color-text);
  color: white;

  @media (--small) {
    padding: var(--spacing-medium);
  }
}

.inner {
  max-width: var(--max-width-page);
  margin: 0 auto;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: var(--spacing-large);
  padding-bottom: var(--spacing-large);

  @media (--not-large) {
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-medium);
  }
}

.heading {
  padding-bottom: var(--spacing-small);
  border-bottom: 2px solid var(--color-accent);
}

.links {
  padding-left: 0;
  list-style-type: none;

  & li {
    margin-top: var(--spacing-small);
    margin-left: 0;
  }
}

.copyright {
  width: 100%;
  padding-top: var(--spacing-large);
  margin: 0 auto;
  text-align: center;
  border-top: 2px solid var(--color-accent);

  & p:first-of-type {
    margin-top: 0;
  }

  & p:last-of-type {
    margin-bottom: 0;
  }
}
