.container {
  z-index: var(--z-index-header);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: var(--spacing-medium);
  background-color: var(--color-background);
}

.inner {
  max-width: var(--max-width-page);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  font-size: 30px;
  text-transform: uppercase;
}

.logoFirst {
  letter-spacing: 0.0965em;
  font-weight: 700;
}

.logoLast {
  letter-spacing: -0.0065em;
  margin-left: -4px;
  font-family: var(--font-family-heading);
}
