.container {
  background-color: powderblue;
  height: 300px;

  @media (--large) {
    background-color: red;
  }

  @media (--not-small) {
    background-color: red;
  }

  @media (--small) {
    display: none;
  }
}

.inner {
  padding-left: var(--spacing-small);

  @media (--not-small) {
    background-color: red;
    padding-right: var(--spacing-large);
    padding-left: var(--spacing-large);
  }
}
