.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 80px;

  @media (--small) {
    font-size: 40px;
  }
}

.char {
  display: inline-block;
}
