.item {
  position: relative;
  margin: 1px;
}

.text {
  font-size: 80px;
  font-size: 8.5vw;

  @media (--medium) {
    font-size: 8vw;
  }

  @media (--large) {
    font-size: clamp(4.5rem, 4.8vw, 4.8rem);
  }
}

.mask {
  background-color: var(--color-background);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0.8;
  transition: width 1s 0s linear;
  pointer-events: none;
}
