.container {
  @media (--not-small) {
    display: none;
  }
}

.panel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-accent);
  z-index: var(--z-index-mobile-menu);
}

.content {
  height: 100%;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 0;
  margin-top: 0;
  text-align: center;
  list-style-type: none;

  & li {
    margin-left: 0;
    margin-bottom: var(--spacing-medium);
  }

  & a {
    text-decoration: underline;
  }
}

.close {
  position: absolute;
  top: var(--spacing-medium);
  right: var(--spacing-medium);
  padding: var(--spacing-extra-small);
  margin: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
